#wallet{
    margin-top:60px;

    .main-wallet{
        border-radius: 3px;
    }
    .title{
        color:white;
        font-size: large;
        
    }
    .user-info{
        background-color: white;
    }
    .form-item{
        width: 80%;
        margin-left: 10%;
    }
    .send-money-container{
        height: 200px;
    }

    .col{
        padding-right: 15px !important;
        overflow: hidden;
    }

    .hash{
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}